###################################################
### This is the configuration file for BunnyEMU ###
###################################################


######################################
## Database username/pass goes here ##
######################################
user=root
password=password


############################
## Database names go here ##
############################

authDB=bunny
charactersDB=bunny
worldDB=bunny


############################################
## Set the realmlist and port number here ##
############################################

databasePort=3306
realmlistAddress=bunny-emu-database
